# OS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

.env*
!.env*.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/

# uv
.uv/

# SSL certificates
*.pem

# Database
*.db
*.sqlite

# Logs
*.log
